<form action="{{ url_for('handle_data') }}" method="post">
    <div id="main">
     Write your logic Expression here. </br> You can use "∧","∨","<",">","=","⇒","¬","=>","~","^","\/","/\","<=>","⇔","or","not","and"  .
     </br>There should be a space between all arguments.
     </br>
     <input type="text" name="projectFilepath">
     <input type="submit">
     </br>
     <p style="margin:0 auto;">Program is made by Marcel Kamiński</p>
     <i>mail:kontakt@marcelkaminski.pl</i>
     <div>
 </form>
 <style>
 #main{
     display: block;
   margin-left: auto;
   margin-right: auto;
   width: 60%;
 }
 </style>